<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">The BANK &trade;</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
            </li>

            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/save-full-info" routerLinkActive="active">Save Full Info</a>
            </li>

            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/credit/requisitions" routerLinkActive="active">Requisitions</a>
            </li>

            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/deposit" routerLinkActive="active">Deposit</a>
            </li>
        </ul>
        </div>

    </nav>
</header>