<div class="container-fluid py-3">
    <form class="w-50 mx-auto">
        <div class="form-group p-1">
            <input [(ngModel)]="iin" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="iin" placeholder="IIN">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="lastname" placeholder="Last Name">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="firstname" placeholder="First Name">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="middleName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="middleName" placeholder="Middle Name">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="birthDate" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="birthDate" placeholder="Birth Date">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="gender" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="gender" placeholder="Gender">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="documentNumber" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="documentNumber" placeholder="Document Number">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="documentIssuedBy" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="documentIssuedBy" placeholder="Document Issued By">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="documentIssuedDate" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="documentIssuedDate" placeholder="Document Issued Date">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="documentValidUntilDate" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="documentValidUntilDate" placeholder="Document Valid Until Date">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="salary" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="salary" placeholder="Salary">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="communalPayment" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="communalPayment" placeholder="Communal Payment">
        </div>

        <div class="form-group p-1">
            <button type="button" [disabled]="isProcessing" class="btn btn-primary w-100" (click)="onSend()">
                {{ isProcessing ? '' : 'Send' }}
                <span *ngIf="isProcessing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
        </div>
    </form>
</div>