<div class="container-fluid py-3">
    <form class="w-50 mx-auto">
        <div class="form-group p-1">
            <input [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="phone" placeholder="Phone Number">
        </div>

        <div class="form-group p-1">
            <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="password" placeholder="Password">
        </div>

        <div class="form-group p-1">
            <button type="button" [disabled]="isProcessingLogin" class="btn btn-primary w-100" (click)="onLogin()">
                {{ isProcessingLogin ? '' : 'Login' }}
                <span *ngIf="isProcessingLogin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
        </div>

        <div class="text-center">
            <a [routerLink]="['/register']">Register</a>
        </div>
    </form>
</div>