<div class="container-fluid py-3">
  <form class="w-50 mx-auto">
    <div class="form-group p-1">
      <input [(ngModel)]="maxReplenishment" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="maxReplenishment" placeholder="Max Replenishment">
    </div>

    <div class="form-group p-1">
      <input [(ngModel)]="limitationTime" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="limitationTime" placeholder="Limitation Time">
    </div>

    <div class="form-group p-1">
      <button type="button" [disabled]="isProcessing" class="btn btn-primary w-100" (click)="onOpen()">
        {{ isProcessing ? '' : 'Open Deposit' }}
        <span *ngIf="isProcessing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    </div>
  </form>

  <form class="w-50 mx-auto">
    <div class="form-group p-1">
      <input [(ngModel)]="replenishment" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="replenishment" placeholder="Replenishment">
    </div>

    <div class="form-group p-1">
      <button type="button" [disabled]="isProcessing" class="btn btn-primary w-100" (click)="onReplenish()">
        {{ isProcessing ? '' : 'Replenish' }}
        <span *ngIf="isProcessing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    </div>
  </form>

  <form class="w-50 mx-auto">
    <div class="form-group p-1">
      <input [(ngModel)]="withdrawal" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="withdrawal" placeholder="Withdrawal">
    </div>

    <div class="form-group p-1">
      <button type="button" [disabled]="isProcessing" class="btn btn-primary w-100" (click)="onWithdraw()">
        {{ isProcessing ? '' : 'Withdraw' }}
        <span *ngIf="isProcessing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    </div>
  </form>

  <form class="w-50 mx-auto">
    <div class="form-group p-1">
      <button type="button" [disabled]="isProcessing" class="btn btn-danger w-100" (click)="onClose()">
        {{ isProcessing ? '' : 'Close' }}
        <span *ngIf="isProcessing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    </div>
  </form>

  <div>
        <pre *ngIf="hasMessage" class="w-50 mx-auto">
            Message: {{ message }}
        </pre>
  </div>
</div>
