<div class="container-fluid py-3">
  <div class="w-75 mx-auto">
    <div>
      <a routerLink="/credit/request" class="btn btn-link">Request Credit</a>
    </div>

    <div *ngIf="items">
      <div *ngFor="let item of items; let i=index" class="row p-3">
        <div class="col-9">
          <div>requestedDate: {{ item.requestedDate }}</div>
          <div>number: {{ item.id }}</div>
          <div>sum: {{ item.sum }}</div>
          <div>limitationTime: {{ item.limitationTime }}</div>
          <div>status: {{ item.limitationTime }}</div>
        </div>
        <div class="col-3">
          <button class="btn btn-warning w-100" (click)="onCancel(item.id)">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
