<div class="container-fluid py-3">
  <form class="w-50 mx-auto">
    <div class="form-group p-1">
      <input [(ngModel)]="sum" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="sum" placeholder="Sum">
    </div>

    <div class="form-group p-1">
      <input [(ngModel)]="limitationTime" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="limitationTime" placeholder="Limitation Time">
    </div>

    <div class="form-group p-1">
      <input [(ngModel)]="rate" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="rate" placeholder="Rate">
    </div>

    <div class="form-group p-1">
      <button type="button" [disabled]="isProcessing" class="btn btn-primary w-100" (click)="onSend()">
        {{ isProcessing ? '' : 'Send' }}
        <span *ngIf="isProcessing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    </div>
  </form>

  <div>
        <pre *ngIf="hasMessage" class="w-50 mx-auto">
            Message: {{ message ? "Yes" : "No" }}
        </pre>
  </div>
</div>
